
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

@await Component.InvokeAsync("_HeaderViewComponentPartial")

  <body>

<!--header-->
 @await Component.InvokeAsync("_NavbvarViewComponentPartial")
<!--/header-->
@RenderBody()

<!-- contacts -->
    @await Component.InvokeAsync("_DefaultFormComponentPartial")

<!-- //contacts -->
 <!-- footers 20 -->
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

<!-- jQuery and Bootstrap JS -->
    @await Component.InvokeAsync("_DefaultScriptComponentPartial")

</body>

</html>